* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1400px;
    margin: auto;
}

header {

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    justify-content: space-around;
    height: 70vh;
    background-color: rgb(230, 214, 227);
}

header>div {
    width: 300px;
    line-height: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lorem {
    font-size: 15px;
    color: rgb(90, 88, 88);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.shope {
    margin-top: 9px;
    background-color: rgb(242, 39, 168);
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.Hot_deal_section {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: rgb(254, 233, 246);
    border-radius: 10px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.Hot_deal_section img {
    width: 80%;
}

.Hot_deal_section>div {
    text-align: center;
    line-height: 20px;
}

.Hot_deal_section h2 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0;
}

.Hot_deal_section button {
    margin-top: 9px;
    background-color: rgb(242, 39, 168);
    padding: 17px;
    border: none;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.Hot_deal_section p {
    color: rgb(62, 59, 59);
    font-weight: 500;
    margin: 10px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header img {
    width: 100%;
}



.Flower_Section img {
    width: 50%;
}

.Three_flower {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.DeliverManSection {
    background-color: rgb(244, 241, 241);
    border-radius: 10px;
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    margin-bottom: 20px;
}

.DeliverManSection>div {
    display: flex;
    flex-direction: column;
    gap: 10px;

    justify-content: center;
    align-items: center;
}

.DeliverManSection p {
    color: rgb(68, 66, 66);
    font-family: sans-serif;
}

.Flower_Section {
    width: 75%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.First_flower_div {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    border-radius: 80% 80% 0 0;
}

.Three_flower>div {
    flex: 1;
}

.first_flower {
    background-color: rgb(221, 165, 200);
}

.seconde_flower {
    background-color: rgb(212, 225, 227);
}

.third_flower {
    background-color: rgb(193, 218, 142);
}

.flower_text {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.pnk_flower_tee {
    display: flex;
    gap: 230px;
}

.flower_text>h4 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Four_Flowers_section {
    width: 75%;
    margin: auto;
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 50px;
}

.Four_flower_div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
}

.Four_flower_div img {
    width: 100%;
    border-radius: 5px;
}

.Text_of_fourFlower_div {
    text-align: center;

}

.Text_of_fourFlower_div h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: cursive;
}

.Text_of_fourFlower_div p {
    color: rgb(84, 83, 83);
}


.Suscribe_Section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: url("Flower/Rectangle\ 9.png");
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.suscribe_text_div {
    text-align: center;
    list-style: 45px;
}

.suscribe_text_div h3 {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.suscribe_text_div p {
    color: rgb(118, 115, 115);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Suscribe_Section .input_div {

    display: flex;
    gap: 0;
}

.Suscribe_Section .input_div input {
    padding: 15px 200px;
    border: none;
    border-radius: 20px 0 0 20px;
}

.Suscribe_Section .input_div button {
    padding: 15px 50px;
    border: none;
    color: whitesmoke;
    font-weight: 500;
    border-radius: 0 20px 20px 0;
    background-color: rgb(239, 78, 180);
}
.footer_section{
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 0),rgb(49, 39, 39));
}


.footer_section div{
    text-align: center;
}

.foot_h{
    font-size: 36px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;

}
.foot_h span{
    color: orangered;
}
footer{
    color: #fff;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}
footer small{
    font-size: xx-small;
    color: rgb(153, 151, 151);
}
@media screen and (max-width: 576px) {

    header {
        flex-direction: column;
        height: 95vh;
        justify-content: space-between;


    }

    .Four_flower_div{
        grid-template-columns: repeat(1, 1fr);
        gap: 14px;
    }
    footer{
        line-height: 20px;
    }
    footer p{
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: small;
    }
    .suscribe_text_div h3 {
        font-size: 26px;

    }
    .pnk_flower_tee {
        flex-direction: column;
        gap: 20px;
    }
    .Suscribe_Section{
        height: 30vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .Suscribe_Section .input_div input {
        padding: 10px 20px;
    }
    .Suscribe_Section .input_div button {
        padding: 10px 10px;
    }

    header>div {
        width: 200px;
        line-height: 20px;
    }

    .Hot_deal_section {
        height: 86vh;
        flex-direction: column;
        padding: 20px 0;
        gap: 50px 0;
    }

    .Hot_deal_section h2,
    p {
        font-size: 16px;
    }

    .DeliverManSection {
        flex-direction: column;
        height: 70vh;
        gap: 20px;
        padding: 30px;
    }

    .header_text_div,
    .flower_text {
        text-align: center;
    }

    .Three_flower {
        grid-template-columns: repeat(1, 1fr);
    }

    .seconde_flower {
        padding-top: 70px;
        padding-bottom: 50px;
    }
}